<div class="ui-g">

  <div class="ui-g-12">
    <p-calendar name="startDate" [(ngModel)]="startDate" [inline]="true" (onSelect)="getSummaryEvents()"></p-calendar>
    <p-calendar name="endDate" [(ngModel)]="endDate" [inline]="true" (onSelect)="getSummaryEvents()"></p-calendar>
  </div>

  <p-dataView #summaryEventDv [value]="events">
    <p-header>
      <span style="font-weight: bold">Summary of Events</span>&nbsp;&nbsp;&nbsp;
      <div class="ui-g">
        <div class="ui-g-6">Task</div>
        <div class="ui-g-2">Project</div>
        <div class="ui-g-2">Time</div>
        <div class="ui-g-2">Percent</div>
      </div>
    </p-header>
    <ng-template let-event pTemplate="listItem" >
      <div class="ui-g dataView">
        <div class="ui-g-6"><a [routerLink]="['/events']" [queryParams]="{ startTime: startDate.getTime(), endTime: endDate.getTime(), tasks: [event.taskId]}">{{ event.taskName}}</a>&nbsp;&nbsp;<span class="btn btn-short glyphicon glyphicon-search" aria-hidden="true" (click)="loadAndDisplayHistoryOverlay(event.taskId)" ></span></div>
        <div class="ui-g-2">{{projectService.getProjectById(event.project).projectName}}</div>
        <div class="ui-g-2">{{ event.totalMins | minuteFormatter }}</div>
        <div class="ui-g-2">{{ event.percent | number: '0.0-1'}}</div>
      </div>
    </ng-template>
    <p-footer>
      <div class="ui-g">
        <div class="ui-g-6"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-2">{{ totalMins/60 | number: '0.0-1' }}/{{ windowMins/60 | number: '0.0-1' }}</div>
        <div class="ui-g-2">{{ totalPercent | number: '0.0-1' }}</div>
      </div>
    </p-footer>
  </p-dataView>

</div>

<p-dialog header="Event History Summary" [style]="{width: '800px'}" [modal]="true" [dismissableMask]="true" [(visible)]="showHistoryDialog">

  <div class="ui-g">
    <div class="ui-g-2">Start</div>
    <div class="ui-g-2">Finish</div>
    <div class="ui-g-5">Task</div>
    <div class="ui-g-2">Project</div>
    <div class="ui-g-1">Mins</div>
  </div>
  <div class="ui-g dataView" *ngFor="let event of historicalEvents">
    <div class="ui-g-2">{{ event.start | date:'yyyy-MM-dd' }}</div>
    <div class="ui-g-2">{{ event.finish | date:'yyyy-MM-dd' }}</div>
    <div class="ui-g-5"><a [routerLink]="['/events']" [queryParams]="{ startTime: startDate.getTime(), endTime: endDate.getTime(), tasks: [event.taskId]}">{{ event.taskName}}</a></div>
    <div class="ui-g-2">{{projectService.getProjectById(event.project).projectName}}</div>
    <div class="ui-g-1">{{ event.totalMins | minuteFormatter }}</div>
  </div>

  <!--<p-dataView #historyDv [value]="historicalEvents">-->
    <!--<p-header>-->
      <!--<div class="ui-g">-->
        <!--<div class="ui-g-1">Start</div>-->
        <!--<div class="ui-g-1">Finish</div>-->
        <!--<div class="ui-g-4">Task</div>-->
        <!--<div class="ui-g-2">Project</div>-->
        <!--<div class="ui-g-2">Time in Mins</div>-->
        <!--<div class="ui-g-2">Time in Hours</div>-->
      <!--</div>-->
    <!--</p-header>-->
    <!--<ng-template let-event pTemplate="listItem" >-->
      <!--<div class="ui-g dataView">-->
        <!--<div class="ui-g-1">{{ event.start | date:'yyyy-MM-dd hh:mm a' }}</div>-->
        <!--<div class="ui-g-1">{{ event.finish | date:'yyyy-MM-dd hh:mm a' }}</div>-->
        <!--<div class="ui-g-4"><a [routerLink]="['/events']" [queryParams]="{ startTime: startDate.getTime(), endTime: endDate.getTime(), tasks: [event.taskId]}">{{ event.taskName}}</a></div>-->
        <!--<div class="ui-g-2">{{projectService.getProjectById(event.project).projectName}}</div>-->
        <!--<div class="ui-g-2">{{ event.totalMins }}</div>-->
        <!--<div class="ui-g-2">{{ event.totalMins/60 | number: '0.0-2'}}</div>-->
      <!--</div>-->
    <!--</ng-template>-->
  <!--</p-dataView>-->
</p-dialog>

