.nowrap {
  white-space: nowrap;
}

.dataView {

}

.dataView:nth-child(even) {
  background: #e8e9e6;
}

.btn-short {
  padding-top: 2px;
  padding-bottom: 2px;
}

.historyDialog {
  padding: 0 0;
}
