<div>
  <!--New Task Input Form-->
  <div class="ui-g">
    <div class="ui-g-12">
      <form class="form-inline" (ngSubmit)="submitNewTask()" #newTaskForm="ngForm">
        <div class="form-group">
          <label class="sr-only" for="task" >New Task</label>
          <input class="form-control" id="task" required type="text" [(ngModel)]="newTask.taskName" name="newTask" placeholder="New Task">
        </div>
        <p-dropdown name="proj-dropdown" class="" [options]="projects" optionLabel="projectName" [(ngModel)]="selectedProject"></p-dropdown>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <!--Filter Input Form-->
  <div class="ui-g" *ngIf="!showStartTrackingButton">
    <div class="ui-g-12">
      <form class="form-inline" (ngSubmit)="onFilterSubmit()" #taskFilterForm="ngForm">
        <div class="form-group">
          <label class="sr-only" for="filter">Filter</label>
          <div class="input-group">
            <input class="form-control" id="filter" type="text" [(ngModel)]="taskFilter" name="taskFilter" placeholder="Filter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="onFilterSubmit()">Apply</button>
              <button type="button" class="btn btn-default" (click)="taskFilter=''; onFilterSubmit()"><span
                class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--Task State Filters-->
  <div class="ui-g" *ngIf="!showStartTrackingButton">
    <div class="ui-g-12">
      <form>
        <input type="checkbox" class="checkbox-inline" id="showOpen" [checked]="showOpen" (change)="changeOpen()" /><label class="control-label" for="showOpen">Open</label>
        <input type="checkbox" class="checkbox-inline" id="showClose" [checked]="showClosed" (change)="changeClosed()" /><label class="control-label" for="showClose">Closed</label>
        <input type="checkbox" class="checkbox-inline" id="showFuture" [checked]="showFuture" (change)="changeFuture()" /><label class="control-label" for="showFuture">Future</label>
      </form>
    </div>
  </div>
  <!--Task Table-->
  <div class="ui-g">
    <div class="ui-g-12">

      <p-dataView #taskDv [value]="tasks" filterBy="taskName">
        <p-header>
          <span style="font-weight: bold">Tasks</span>&nbsp;&nbsp;&nbsp;
          <input type="search" #pInputText placeholder="filter" (keyup)="taskDv.filter($event.target.value)">
          <span  (click)="pInputText.value=''; taskDv.filter('')" class="glyphicon glyphicon-remove" style="padding: 5px 10px;"></span>
        </p-header>
        <ng-template let-task pTemplate="listItem" >
          <div class="ui-g dataView">
            <div class="ui-g-1">
              <span class="glyphicon-stack">
                <i class="glyphicon glyphicon-chevron-up glyphicon-stack-2x" (click)="moveUp(task)"></i>
                <i class="glyphicon glyphicon-chevron-down glyphicon-stack-1x" (click)="moveDown(task)"></i>
              </span>
            </div>

            <!--Task Name-->
            <div [ngClass]="!showStartTrackingButton ? 'ui-g-4 ui-sm-3' : 'ui-g-6 ui-sm-5'" draggable="true"
                (dragstart)="dragStart($event, task.taskId)"
                (dragover)="dragOver($event)"
                (drop)="dragDrop($event, task.rank)">
              {{ task.taskName }}
            </div>
            <!--Task Project-->
            <div class="ui-g-2">
              {{ getProjectName(task.project) }}
            </div>
            <!--Task State-->
            <div class="ui-g-2" *ngIf="!showStartTrackingButton">
              {{ task.state }}
            </div>
            <!--Task Estimate-->
            <div class="ui-g-1" *ngIf="!showStartTrackingButton">
              {{ task.estimate }}
            </div>

            <!--Buttons-->
            <div [ngClass]="!showStartTrackingButton ? 'ui-g-2 ui-sm-3' : 'ui-g-3 ui-sm-4'">
              <!--Start Tracking Button-->
              <span class="btn glyphicon glyphicon-dashboard btn-less-pad"
                    aria-hidden="true"
                    (click)="startTrackingTask(task.taskId)"
                    *ngIf="showStartTrackingButton"></span>
              <!--Edit Button-->
              <span class="btn glyphicon glyphicon-pencil btn-less-pad" aria-hidden="true" (click)="editTask(task)"></span>
              <!--Complete Task Button-->
              <span class="btn glyphicon glyphicon-ok btn-less-pad" aria-hidden="true" (click)="closeTask(task.taskId)"></span>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>

  <!--Edit Task Modal-->
  <p-dialog header="Update Task {{ modalTask.taskId }}" [positionTop]="0" [modal]="true" [dismissableMask]="true" [(visible)]="showTaskModal" [style]="{width: '640px'}">
    <form class="ui-fluid" (submit)="updateTask()">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">State</span>
        <p-dropdown name="stateDropdown" [options]="states" [(ngModel)]="modalState" (onBlur)="modalTask.state = modalState"></p-dropdown>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Project</span>
        <p-dropdown name="projectDropdown" [options]="allProjects" [(ngModel)]="modalProject" optionLabel="projectName" (onBlur)="modalTask.project = modalProject.projectId"></p-dropdown>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Estimate</span>
        <input type="number" pInputText name="estimate" [(ngModel)]="modalTask.estimate">
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Name</span>
        <input pInputText [(ngModel)]="modalTask.taskName" name="taskName">
      </div>
      <button pButton type="submit">Update</button>
    </form>

  </p-dialog>

</div>
