.nowrap {
  white-space: nowrap;
}

.glyphicon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.glyphicon-stack-1x {
  line-height: inherit;
  margin-top: 15px;
}

.glyphicon-stack-1x, .glyphicon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.dataView {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dataView:nth-child(even) {
  background: #e8e9e6;
}

.btn-less-pad {
  padding-left: 7px;
  padding-right: 7px;
}
