<div>
  <!--New Task Input Form-->
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="submitNewProject()" #newProjectForm="ngForm">
        <div class="form-group required">
          <label for="project">New Project</label>
          <div class="input-group">
            <input class="form-control" id="project" required type="text" [(ngModel)]="newProject.projectName" name="newProject">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="submitNewProject()">Submit</button>
              </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--Filter Input Form-->
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="onFilterSubmit()" #taskFilterForm="ngForm">
        <div class="form-group">
          <label for="filter">Filter</label>
          <div class="input-group">
            <input class="form-control" id="filter" type="text" [(ngModel)]="projectFilter" name="projectFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="onFilterSubmit()">Apply</button>
              <button type="button" class="btn btn-default" (click)="projectFilter=''; onFilterSubmit()"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--Task State Filters-->
  <div class="row">
    <div class="col-sm-12">
      <form>
        <input type="checkbox" class="checkbox-inline" id="showOpen" [checked]="showOpen" (change)="changeOpen()" /><label class="control-label" for="showOpen">Open</label>
        <input type="checkbox" class="checkbox-inline" id="showClose" [checked]="showClosed" (change)="changeClosed()" /><label class="control-label" for="showClose">Closed</label>
      </form>
    </div>
  </div>
  <!--Task Table-->
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr *ngFor="let project of projects">
          <!--Project Name-->
          <td>
            {{ project.projectName }}
          </td>
          <!--Project State-->
          <td>
            {{ project.projectState }}
          </td>

          <!--Buttons-->
          <td class="nowrap text-right">
            <!--Edit Button-->
            <span class="btn glyphicon glyphicon-pencil" aria-hidden="true" (click)="editProject(project)"></span>
            <!--Complete Task Button-->
            <span class="btn glyphicon glyphicon-ok" aria-hidden="true" (click)="closeProject(project.projectId)"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--Edit Project Modal-->
  <div bsModal #projectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="projectModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Update Project</h4>
        </div>
        <div class="modal-body">
          <form class="form" (ngSubmit)="updateProject()">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">State</span>
                <!--<input class="form-control" [(ngModel)]="modalTask.state" name="taskState" aria-describedby="basic-addon1">-->
                <div class="btn-group" dropdown [(isOpen)]="status.isopen">
                  <button id="single-button" type="button" class="btn btn-primary" dropdownToggle >{{ modalProject.projectState }} <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button" aria-describedby="basic-addon1">
                    <li role="menuitem" *ngFor="let state of states" (click)="modalProject.projectState = state" ><a class="dropdown-item" >{{ state }}</a></li>
                  </ul>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Task Name</span>
                <input class="form-control" [(ngModel)]="modalProject.projectName" name="projectName" aria-describedby="basic-addon2">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" (click)="updateProject()">Update</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
