<div class="ui-g">
  <div class="ui-g-12">
    <p-calendar name="startDate" [(ngModel)]="startTime" [inline]="true" (onSelect)="dateChange()"></p-calendar>
    <p-calendar name="endDate" [(ngModel)]="endTime" [inline]="true" (onSelect)="dateChange()"></p-calendar>
  </div>
  <div class="ui-g-12">
    <app-events [startTime]="startTime" [endTime]="endTime" [taskIds]="tasks" [showNotes]="true" [paginated]="true"></app-events>
  </div>
</div>
