<div class="ui-g">
  <div class="ui-g-12">
    <p-dataView #eventsDv [value]="events" [paginator]="paginated" [rows]="50" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
      <p-header>
        <span style="font-weight: bold">Events</span>
      </p-header>
      <ng-template let-event pTemplate="listItem">
        <div class="ui-g dataView">
          <div class="ui-g-3">{{ event.start | date:'yyyy-MM-dd hh:mm a' }}</div>
          <div class="ui-g-2">{{ getProjectName(event.project) }}</div>
          <div class="ui-g-1">{{ event.duration | minuteFormatter }}</div>
          <div [ngClass]="showNotes ? 'ui-g-2' : 'ui-g-5'"><span title="{{ event.notes }}">{{ event.taskName }}</span></div>
          <div class="ui-g-3" *ngIf="showNotes">{{ event.notes }}</div>
          <div class="ui-g-1">
            <span *ngIf="showEventRemoveButton" class="btn glyphicon glyphicon-remove pull-right" aria-hidden="true"
                  (click)="confirmRemoveEvent(event)"></span>
            <span *ngIf="showEventEditButton" class="btn glyphicon glyphicon-pencil pull-right" aria-hidden="true"
                  (click)="showEvent(event)"></span>
          </div>
        </div>
      </ng-template>
    </p-dataView>

    <p-confirmDialog #confirmDelete header="Confirm Delete" icon="fa fa-question-circle" [style]="{width: '425px'}"></p-confirmDialog>

    <p-dialog header="{{ modalTitle }}" [modal]="true" [dismissableMask]="true" [(visible)]="showEditEventDialog">
      <form class="ui-fluid" (submit)="updateEvent()">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Notes</span>
          <input type="text" pInputText name="notes" [(ngModel)]="modalNotes">
        </div>
        <p-calendar name="calenderPicker" [(ngModel)]="datePickerDate" [inline]="true"></p-calendar>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Hour</span>
          <input type="number" pInputText name="hour" [(ngModel)]="eventDate.hour">
        </div>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Min</span>
          <input type="number" pInputText name="min" [(ngModel)]="eventDate.minute">
        </div>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Sec</span>
          <input type="number" pInputText name="sec" [(ngModel)]="eventDate.seconds">
        </div>
        <p-dialog header="Choose Time" [(visible)]="displayTimePicker">
          <app-timepicker [time]="timePickerTime" (timePicked)="setTime($event)"></app-timepicker>
        </p-dialog>
        <span class="btn glyphicon glyphicon-time" aria-hidden="true" (click)="showTimePicker()"></span>
        <button type="submit" class="btn btn-default">Update</button>
      </form>
    </p-dialog>
  </div>
</div>
