<div class="clock-base">
  <div class="clock-container">
    <button type="button" [ngClass]="amIsSet ?  'btn-round clock-am btn-selected': 'btn-round clock-am'" (click)="amSet()" *ngIf="isClockTypeHours()">AM</button>
    <button type="button" [ngClass]="!amIsSet ?  'btn-round clock-pm btn-selected': 'btn-round clock-pm'" (click)="pmSet()" *ngIf="isClockTypeHours()">PM</button>
    <div *ngFor="let step of steps; let i = index" [class]="getClass(i)">
      <button type="button" (click)="pickTime(step)" class="btn-round" [class]="getButtonClass(step)">
        {{ step }}
      </button>
    </div>
  </div>
</div>




