
.clock-base {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  padding: 24px;
  background: #ededed;
  .clock-am {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 60px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .clock-pm {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .clock-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }
  .clock-step {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 200ms;
  }
}

.clock-loc-deg0 {
  top: 0%;
  left: 50%;
}

.clock-loc-deg15 {
  top: 1.70370869%;
  left: 62.94095226%;
}

.clock-loc-deg30 {
  top: 6.69872981%;
  left: 75%;
}

.clock-loc-deg45 {
  top: 14.64466094%;
  left: 85.35533905%;
}

.clock-loc-deg60 {
  top: 25%;
  left: 93.30127019%;
}

.clock-loc-deg75 {
  top: 37.05904774%;
  left: 98.29629131%;
}

.clock-loc-deg90 {
  top: 50%;
  left: 100%;
}

.clock-loc-deg105 {
  top: 62.94095226%;
  left: 98.29629131%;
}

.clock-loc-deg120 {
  top: 75%;
  left: 93.30127019%;
}

.clock-loc-deg135 {
  top: 85.35533906%;
  left: 85.35533906%;
}

.clock-loc-deg150 {
  top: 93.30127019%;
  left: 75%;
}

.clock-loc-deg165 {
  top: 98.29629131%;
  left: 62.94095226%;
}

.clock-loc-deg180 {
  top: 100%;
  left: 50%;
}

.clock-loc-deg195 {
  top: 98.29629131%;
  left: 37.05904774%;
}

.clock-loc-deg210 {
  top: 93.30127019%;
  left: 25%;
}

.clock-loc-deg225 {
  top: 85.35533906%;
  left: 14.64466094%;
}

.clock-loc-deg240 {
  top: 75%;
  left: 6.69872981%;
}

.clock-loc-deg255 {
  top: 62.94095226%;
  left: 1.703708686%;
}

.clock-loc-deg270 {
  top: 50%;
  left: 0%;
}

.clock-loc-deg285 {
  top: 37.05904774%;
  left: 1.703708686%;
}

.clock-loc-deg300 {
  top: 25%;
  left: 6.69872981%;
}

.clock-loc-deg315 {
  top: 14.64466094%;
  left: 14.64466094%;
}

.clock-loc-deg330 {
  top: 6.69872981%;
  left: 25%;
}

.clock-loc-deg345 {
  top: 1.703708686%;
  left: 37.05904774%;
}

.clock-loc-deg360 {
  top: 0%;
  left: 50%;
}

.btn-round {
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #337ab7;
  //border-color: #2e6da4;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;

}
//.btn-round:hover {
//  background-color: #1b6d85;
//}
.btn-round:active {
  background-color: #C21F39;
}

.btn-selected {
  background-color: #C21F39;
  //border-color: #C22020;
}
