<div>
  <br><br><br><br>
  <button type="button" class="btn btn-default" *ngIf="pwaEvent" (click)="installPwa()">Install</button>
  <div *ngIf="!pwaEvent">
    Have not received the `beforeinstallprompt` yet, this may be for any of these reasons:<br>
    <ul>
      <li>The PWA is already installed</li>
      <li>The app has not been used for at least 30s</li>
      <li>The app is not served over HTTPS</li>
      <li>The app has not registered a service worker</li>
    </ul>
    Click on "TimeGraveler" or change the selected projects to interact with this window without navigating from this page.
  </div>
</div>
