<section>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" (click)="refreshProject()">TimeGraveler</a>
        <!--TODO the [filter]="false" is a workaround for https://github.com/primefaces/primeng/issues/7030 since I don't use the filter this isn't a big deal but someday may want to change this-->
        <p-multiSelect class="navbar-header" [options]="projects" [(ngModel)]="selectedProjects" optionLabel="projectName" (onPanelHide)="updateProject()" [filter]="false"></p-multiSelect>

        <!--<div class="navbar-btn" dropdown [(isOpen)]="status.isopen">-->
          <!--<button id="single-button" type="button" class="btn btn-primary" dropdownToggle >{{ projectService.project.projectName }} <span class="caret"></span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">-->
            <!--<li role="menuitem" *ngFor="let project of projects" (click)="updateProject(project)" ><a class="dropdown-item" >{{ project.projectName }}</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
      <div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/tracker']">Tracker</a></li>
          <li><a [routerLink]="['/tasks']">Tasks</a></li>
          <li><a [routerLink]="['/events']">Events</a></li>
          <li><a [routerLink]="['/projects']">Projects</a></li>
          <li><a [routerLink]="['/timesheet']">Timesheet</a></li>
        </ul>

      </div>
    </div>

  </nav>

  <p-growl [life]="1500"></p-growl>


  <router-outlet></router-outlet>
</section>
