<div class="ui-g">
  <div class="ui-g-12 ui-lg-6 ui-md-6">
    <app-tasks (trackTask)="startTrackingTask($event)" [showStartTrackingButton]="true"></app-tasks>
  </div>
  <div class="ui-g-12 ui-lg-6 ui-md-6">
    <app-events [showEventRemoveButton]="false" [showAllProjects]="true"></app-events>
  </div>
</div>


